input[type="text"]{
  height: 32px;
  background-position: right center;
  background-size: 1.5em;
  background-repeat: no-repeat;
  border-radius: 0.4em;
  padding: 0 1.5em;
  border:1px solid #ffd10a !important;
}
input[type="text"]:valid {
  padding-right: .6em;
  background-origin: content-box;
}

input[type="text"]:invalid{
  border: 2px solid #e74c6c;
  padding-right: .6em;
  background-origin: content-box;
}

.addcontainer {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}
.textContainer{
    width: 100%;
    padding: 15px
}
.note {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
  border-radius: 15px;
  border: 1.5px solid rgba(5, 4, 4, 0.326);
  color: black;
  padding: 15px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  min-width: 12rem;
  max-height: 1rem;
  
}
.note__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.note textarea {
  black-space: pre-wrap;
  background: transparent;
  border: none;
  color: black;
  resize: none;
  font-size: 18px;
}
.note textarea:focus {
  outline: none;
}
.note textarea::placeholder {
  color: black;
}


.noteNew textarea {
  black-space: pre-wrap;
  background: transparent;
  border: none;
  color: black;
  resize: none;
  font-size: 18px;
}
.noteNew textarea:focus {
  outline: none;
}
.noteNew textarea::placeholder {
  color: black;
}


.edit_button{
  background-color: #ffd10a !important;
  color: black !important;
}

.note__save {
  background-color: #ffd10a !important;
  transition: 0.1s ease-in-out;
  border: 1.5px solid black;
  border-radius: 10px;
  color: black !important;
  padding: 4px 10px;
  font-size: 13px;
  cursor: pointer;
  
}
.note__edit{
    background: transparent;
  transition: 0.1s ease-in-out;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 13px;
  cursor: pointer;
}

.note__delete {
  cursor: pointer;
}

.note__edit{
    cursor: pointer;
    border:none;
}

.char__progress {
  background-color: black !important;
}
.title-input-new{
  border-bottom: none;
  padding-bottom: 5px ;
}

.noteCard{
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffd10a;
}

.description{
  width: 100%;
}

.editCard{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}


